body {
	background:#333333;
	
}
#content-container {
	background:#ffffff;
	margin:1em auto;
	padding:1em;
	width:60em;
	
}
.view {
	border:#333333 solid 1px;
	margin:1em auto;
	min-height:10em;
	width:20em;
	
}
.view p {
	text-align:center;
	
}
#red-view {
	color:#FFFFFF;
	background:red;
	
}
#blue-view {
	color:#FFFFFF;
	background:blue;
	
}
